<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>8C21E4C4-9C91-4B9F-87E9-8CB9766FE173</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B91F37B8-A4A6-4E11-99FF-E36C3734411C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B91F37B8-A4A6-4E11-99FF-E36C3734411C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8234651-A7E9-4E00-B3CB-D1B1F8265531</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8234651-A7E9-4E00-B3CB-D1B1F8265531</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EF839AB-0D3E-444E-BBA9-98AAF01E9E4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>akebuono</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AudioSwitcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Audio Switcher</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3EF839AB-0D3E-444E-BBA9-98AAF01E9E4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>SwitchAudioSource -t $mode -s "$1"

#echo your $mode device changed to $1.</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8234651-A7E9-4E00-B3CB-D1B1F8265531</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Change Input Source","arg":"input","subtitle":"input"},{"title":"Change Output Source","arg":"output","subtitle":"output"}]</string>
				<key>keyword</key>
				<string>audio</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>in/out</string>
				<key>title</key>
				<string>Audio Switcher</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>8C21E4C4-9C91-4B9F-87E9-8CB9766FE173</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#!/bin/bash

mode=$1

echo '{"items": ['
SwitchAudioSource -a -t $mode | awk -v mode="$mode" 'BEGIN {ORS=""} {
    if (NR&gt;1) printf ","
    printf "{"
    printf "\"title\":\"%s\",", $0
    printf "\"arg\":\"%s\",", $0
    printf "\"subtitle\":\"このデバイスに切り替える\","
    printf "\"variables\":{\"mode\":\"" mode "\"}"
    printf "}"
}'
echo ']}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Audio Switcher Mode Selecter</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B91F37B8-A4A6-4E11-99FF-E36C3734411C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3EF839AB-0D3E-444E-BBA9-98AAF01E9E4A</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>8C21E4C4-9C91-4B9F-87E9-8CB9766FE173</key>
		<dict>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>B91F37B8-A4A6-4E11-99FF-E36C3734411C</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>F8234651-A7E9-4E00-B3CB-D1B1F8265531</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
